.header *{
color:#F8B195;
background-color:#F67280;
font-family: arial;
font-size: 20px;
font-stretch: wider;
display:flex;
justify-content: space-between ;
}

.grid{
background-color:#C06C84;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
color:#F8B195 ;
}

.footer{
background-color: #6C5B7B ;
display: flex;
justify-content: flex-end;
color:#F8B195 ; 
}

p,h2{
text-align: center;
color:#F8B195 ;


}

body{
background-color:#355C7D;
}

h1{
    margin: 30px; 
}
a:link{
color: blue
}

a:visited{
    color: white;
}

.menu{
margin-right: 50px;
}

.menu a{
 margin-left: 50px;  
 margin-right:50px 
}

.item{
position:relative;
}

.item p{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
opacity: 0;
}
.item:hover p{
opacity: 1;
}

.item img{
 opacity: 0;   
}

.item:hover img{
    opacity: 0.33333;   
   }